@page
@model RazorPagesLearn.Pages.Employees.DetailsModel
@{
	ViewData["Title"] = "Employ Details";
}

<div>Имя @Model.Employee.Name, Email @Model.Employee.Email, Depr: @Model.Employee.Department</div>
