@page "{id}:min(1):max(10)"
@using RazorPagesLearn.Models
@model RazorPagesLearn.Pages.Employees.EditModel
@{
	ViewData["Title"] = "Edit";
}
<form method="post" asp-page-handler="Update">
	<h1>Notification Preference</h1>
	<input asp-for="Norify" />
	<label asp-for="Norify">
		Receive email notification when my details
	</label><br />
	<button type="submit">submit</button>
	@if (!string.IsNullOrWhiteSpace(Model.msg))
	{
		<p>@Model.msg</p>
	}
</form>
<hr />
<!--Создаём форму редактирования-->
<form method="post" asp-page-handler="OnPost">
	<!--Создаём скрытое поле для параметра ID-->
	<input type="hidden" asp-for="Employee.Id" />
	<!--Добавляем поля редактирования-->
	<!--Добавляем поле редактирования имени-->
	<div>
		<label asp-for="Employee.Name">Edit Name:</label>

		<input asp-for="Employee.Name" placeholder="@Model.Employee.Name" />
		<!--Добавляем сообщение валидации формы-->
		<span asp-validation-for="Employee.Name"></span>
	</div>
	<div>
		<h4>Employee ID: @Model.Employee.Id</h4>
		<hr />
		<!--Добавляем поле редактирования e-mail-->
		<label asp-for="Employee.Email">Edit E-mail:</label>
		<input asp-for="Employee.Email" placeholder="@Model.Employee.Email" />
		<!--Добавляем сообщение валидации формы-->
		<span asp-validation-for="Employee.Email"></span>

	</div>
	<hr />
	<!--Добавляем поле редактирования департамента-->
	<div>
		<label asp-for="Employee.Department">Edit Department:</label>
		<!--Создаём выпадающий список с департаментами-->
		<!--Необходимо подключить класс локально или глобально-->
		<select asp-for="Employee.Department" asp-items="Html.GetEnumSelectList<Dept>()">
			<!--Добавляем начальный элемент выпадающего списка-->
			<option value="">Please Select</option>
		</select>
		<span asp-validation-for="Employee.Department"></span>
	</div>
	<hr />
	<div>
		<button type="submit">Update</button>
		<a asp-page="/Employees/employees">Cancel</a>
	</div>
</form>